.campaign-admin {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.campaign-admin__form,
.campaign-admin__preview {
    flex-basis: 50%;
    max-width: 50%;
}

.campaign-admin__preview-frame {
    width: 100%;
    height: 100%;
    border: 0;
    border-left: 1px solid #fcf2f2;
}

@media screen and (min-width:50em) {
    .footer__container {
        display: table;
    }
  
    .campaign-admin__actions {
        display: flex;
    }
}
  