{% extends "modeladmin/inspect.html" %}

{% block content_main %}
<div class="nice-padding">
    <p class="back"><a href="{{ view.index_url }}" class="icon icon-arrow-left">Back to {{ view.verbose_name }} list</a></p>

    {% block fields_output %}
        {% if fields %}
        <section>
            <h2>Email data</h2>
            <table class="listing">
                <tbody>
                    {% for field in fields %}
                        <tr>
                            <td class="title">
                                <h2>{{ field.label }}</h2>
                            </td>
                            <td>{{ field.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        {% endif %}

        {% if receipts %}
            <section>
                <h2>Recipients</h2>
                <table class="listing">
                    <tbody>
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Sent date</th>
                            </tr>
                        </thead>
                        {% for receipt in receipts %}
                            <tr>
                                <td>{{ receipt.recipient.email }}</td>
                                <td>{{ receipt.sent_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        {% endif %}
    {% endblock %}
</div>
{% endblock %}