{% extends "wagtailadmin/base.html" %}
{% load i18n modeladmin_tags %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block content %}

    {% block header %}
        {% include "wagtailadmin/shared/header.html" with title="Send" subtitle=self icon=view.header_icon %}
    {% endblock %}

    {% block content_main %}
        <div class="nice-padding">
            <p>Are you sure you want to send this sale email? TODO: Finish message</p>
            <a href="{{ send_url }}" class="button serious">Yes, send email</a>
            <a href="{{ index_url }}" class="button button-secondary">No, don't send</a>
        </div>
    {% endblock %}
{% endblock %}